experiments/
bio_exp/
euro_exp/

#pycache
__pycache__
*.pyc

#ASC Logs
*.o1*
*.i1*

#Scripts too narrow in purpose to track
europroc.sh
cp_euro.sh

#Miscellaneous files
test.sh
marian_cmds
*.txt

#Scripts or the like unique to ASC server
asc*
#Files specifying server resources
*.opt
