experiments/

#pycache
__pycache__
*.pyc

#ASC Logs
*.o1*
*.i1*

#Miscellaneous files
test.sh
marian_cmds
*.txt

#Scripts or the like unique to ASC server
asc*
#Files specifying server resources
*.opt
